.testimonials-hero {
    position: relative;
    background-color: #02010100;
    background-image: url("/About_us_banner.png");
    background-position: center center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    /* overlay */
}

.testimonials-hero-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.testimonials-hero-inner h1 {
    line-height: 1.2em;
    color: #FFFFFF;
    font-size: 64px;
}

.testimonials-hero-inner ul {
    color: #E7E7E7;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    gap: 10px;

    .separator {
        font-size: 22px;
    }
}

.content-section {
    position: relative;
    padding: 20px 0;
    margin: 20px 0;

    .content-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .content-inner-header {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        h2 {
            letter-spacing: 0;
            color: #272727;
            font-size: 48px;
            font-weight: 400;
            line-height: 1.2em;
        }
    }

    .content-para {

        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5em;
            color: #1a2a3a;
        }

        p {
            color: #5b6b7c;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
        }

        a{
            color: #1983f4 !important;
        }

        a:hover{
            text-decoration: underline;
        }
        ul {
            li {
                margin: 10px 0;
                list-style: disc;
                margin-left: 30px;
            }
        }
    }
}

@media screen and (max-width:640px) {
    .testimonials-hero-inner h1 {
        font-size: 40px;
    }

    .content-section .content-inner-header h2{
        font-size: 36px;
    }
}