.hero {
    max-height: 100vh;
    overflow: hidden;

    img {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    h1 {
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;

        font-size: 46px;
        font-weight: 700;
        color: #fdfdfd;
        line-height: 48px;
        letter-spacing: 2px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.hero-support-badge {
    height: 100px;

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
        li svg{
            width: 30px;
        }
    }
}

.destination-about {
    /* margin: 20px 0; */
    background-color: #F6F9FF;
    padding: 20px 0;
    position: relative;
}

.destination-about .about-inner-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-about .about-inner {
    display: flex;
    padding-block-start: 120px;
    padding-block-end: 120px;
    text-align: initial;
    gap: 48px;
    justify-content: space-between;
}

.destination-about .about-inner-content {
    display: flex;
    padding-block-start: 80px;
    padding-block-end: 80px;
    text-align: initial;
    gap: 48px;
    justify-content: space-between;
    max-width: 90%;

    .inner-para,
    .inner-media {
        max-width: calc(50% - 24px);
    }

    img {
        max-width: 600px;
    }

    h5 {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: -1px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 1px;
        margin-top: 14px;
    }
}

.about-inner-left {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 32px;
}

.about-inner-left-media {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-inner-left-media-img {
    max-width: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }
}

.about-inner-room-detail,
.about-inner-features,
.about-property {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-inner-room-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about-inner-room-detail-header-title {
        font-weight: 400;
        font-size: 48px;
        line-height: 1.2em;
        color: #272727;
    }

    .about-inner-room-detail-header-price {
        display: flex;
        gap: 16px;
        align-items: center;

        .about-inner-room-detail-header-price-amount {
            font-size: 28px;
            font-weight: 400;
            line-height: 1.2em;
            color: #272727;
        }

        .about-inner-room-detail-header-price-per {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5em;
            color: #3B3B3B;
        }
    }
}

.about-inner-room-detail-description {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        color: #3B3B3B;
    }
}

.about-inner-features-title,
.about-property-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2em;
    color: #272727;
}

.about-inner-features-description,
.about-property-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #3B3B3B;
}

.about-inner-features-list {
    display: flex;
    justify-content: space-between;
    gap: 10px 24px;
    width: 100%;
    flex-flow: wrap;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        width: calc(50% - 12px);

        .about-inner-features-list-text {
            color: #3B3B3B;
            font-size: 16px;
            line-height: 1.5em;
        }

        .about-inner-features-list-icon {
            width: 17.5px;
            height: 14px;

            svg {
                fill: #D4BBA2;
            }
        }
    }
}

.about-property-features-list {
    display: flex;
    justify-content: space-between;
    gap: 10px 24px;
    width: 100%;
    flex-flow: wrap;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        width: calc(50% - 12px);

        .about-inner-property-list-text {
            color: #3B3B3B;
            font-size: 16px;
            line-height: 1.5em;
        }

        .about-property-features-list-icon {
            width: 17.5px;
            height: 14px;

            svg {
                fill: #D4BBA2;
            }
        }
    }
}

.about-inner-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-inner-right-room {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #D4D8DB;
    padding: 24px;

    .about-inner-right-room-title {
        font-weight: 400;
        font-size: 28px;
        line-height: 1.2em;
        color: #272727;
    }
}

.about-inner-right-room-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        display: flex;
        gap: 10px;
        align-items: center;

        .about-inner-property-list-text {
            color: #3B3B3B;
            font-size: 16px;
            line-height: 1.5em;
        }

        .about-inner-right-room-list-icon {
            width: 14px;
            height: 14px;

            svg {
                fill: #D4BBA2;
            }
        }
    }
}

.about-inner-right-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #D4D8DB;
    padding: 24px;
}

.about-inner-right-form-item {
    display: flex;
    flex-direction: column;

    label {
        color: #3B3B3B;
        font-size: 14px;
        font-weight: 400;
        margin: 0px 0px 7px 0px;
    }

    input {
        font-size: 16px;
        border: 1px solid #EAECF1;
        padding: 15px 24px 17px 24px;
    }
}

.about-inner-right-form-submit {
    width: 100%;
    margin-top: 20px;

    button {
        background: #F9DCBE;
        padding: 17px 28px 15px 28px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
        color: #3B3B3B;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
}

.line-separator {
    width: 100%;
    background: #D4D8DB;
    height: 1px;
}

.features {
    margin: 20px 0;
    padding: 20px 0;
    position: relative;
}

.features-inner {
    display: flex;
    justify-content: center;
}

.features-box {
    min-height: 100px;
    max-width: 1200px;
    width: 100%;
    border: 1px solid;
    padding: 24px;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        gap: 30px;
        flex-flow: wrap;
        justify-content: center;
        width: 100%;

        li {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            justify-content: center;

            img {
                width: 40px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

.destination-gallery {
    margin: 20px 0;
    padding: 20px 0;
    position: relative;
}

.destination-gallery-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.destination-gallery-header {
    font-size: 38px;
}

.destination-gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 1200px;

    .destination-gallery-grid-items {
        display: flex;
        gap: 14px;
    }

    .destination-gallery-grid-items2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 14px;
    }
}

.destination-gallery-grid-item-1 {
    max-width: 800px;
    max-height: 560px;
}

.destination-gallery-grid-item-2 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;

    img {
        max-height: calc(280px - 7px);
    }
}

.destination-gallery-grid-items2.bottom-grid img {
    width: 100%;
    height: 160px;
    max-height: 160px;
}

.book-now {
    background-color: #584528;
    color: #fff;
    padding: 14px 0;
}

.book-now-inner {}

.book-now-form {
    display: flex;
    gap: 20px;
    max-width: 90%;
    justify-content: center;

    .rowItem {
        width: 16.66666667%;
    }

    input,
    select {
        width: 100%;
        padding: 0 15px;
        height: 48px;
        display: block;
        font-family: Playfair Display;
        font-size: 13px;
        font-weight: 300;
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
        -webkit-appearance: none;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        transition: all 300ms ease;
        background-color: rgba(0, 0, 0, .1);
    }

    button {
        background-color: #B71234;
        border: 2px solid #B71234;
        letter-spacing: 1px;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        font-size: 14px;
        padding: 0 25px;
        text-transform: uppercase;
        background-color: #B71234;
        border: 2px solid #B71234;
        line-height: 1;
        width: auto;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        transition: all 300ms ease;
        border-radius: 2px;
        width: 100%;
        height: 48px;
        line-height: 44px;
        text-align: center;
    }
}

.book-now-form button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.gallery-drawer {
    z-index: 1000 !important;
}

.gallery-drawer-inner {
    min-height: 90vh;
    max-height: calc(100vh - 50px);
    padding: 20px 30px;

    .lg-react-element {
        display: grid;
        flex-flow: wrap;
        gap: 14px;
        grid-template-columns: repeat(4, 1fr);

        a {


            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

.gallery-drawer-inner-header {
    padding-bottom: 10px;
    text-align: center;
    position: relative;

    h2 {
        font-size: 36px;
        line-height: 1.5em;
        font-weight: 400;
    }

    .drawer-close-btn {
        width: max-content;
        position: absolute;
        right: 0;
        top: 0%;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
            background: #ededed;
            padding: 14px 16px;
            border-radius: 50%;
            cursor: pointer;

            svg {
                max-width: 18px;
            }
        }
    }
}

.drawer-close-btn button:hover {
    background: #a0a0a0;

    svg {
        fill: #fff
    }
}

.rooms-section {
    background-color: #f6f9ff;
    padding: 20px 0;
    position: relative;

}

.destination-list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.destination-card-media img {
    max-height: 400px;
    width: 100%;
}

.destination-grid-card {
    background: #02010100;
    display: flex;
    flex-direction: column;
    border: 1px solid #D4D8DB;
}

.destination-card-detail {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 24px;
}

.destination-card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.2em;
        color: #272727;

        span {
            font-size: 16px;
            line-height: 1.5em;
            color: #3B3B3B;
        }
    }
}

.destination-card-desc p {
    font-size: 16px;
    line-height: 1.5em;
    color: #3B3B3B;
}

.line-separator {
    width: 100%;
    background: #D4D8DB;
    height: 1px;
}

.destination-card-features {
    display: flex;
    justify-content: space-between;
    max-width: 95%;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        color: #3B3B3B;
    }
}

.destination-card-button {
    width: 100%;
    background: #F9DCBE;
    padding: 12px 30px 12px 30px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3B3B3B;
    fill: #3B3B3B;
}

.destination-list-inner {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.amenteties-section {
    background-color: #f6f9ff;
    padding: 30px 0;
    position: relative;
}

.location-section {
    padding: 30px 0;
    position: relative;
}

.amenteties-inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 36px;
        line-height: 1.5em;
        font-weight: 400;
    }
}

.amenteties-inner-content {
    display: flex;
    justify-content: center;
}

.amenteties-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 90%;

    li {
        display: flex;
        gap: 30px;

        img {
            min-width: 300px;
            max-width: 320px;
        }
    }
}

.amenteties-grid-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h6 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5em;
    }
}